/***** General definitions *************************************/

body {
    padding:            10px;
}

#tab-area {
    background-color:   #d0f4ff;
    font-family:        monospace;
}

.button-action {
    width:              10em;
    margin-right:       1em;
}

body.form-page {
    background-color:   bisque;
}

.space-long {
    padding-right:      3em;
}

.space-short {
    padding-right:      1em;
}

#alias-list {
    height:             100%;
    width:              12em;
}

/*** Modal select ***/

div.row {
    padding-bottom:     20px;
}

div.row .form-check {
    padding-left:       20px;
}

.info-box {
    background-color:   bisque;
    font-family:        sans-serif;
    font-size:          .9rem;
}
.info-header {
    text-background:    beige;
    text-align:         center;
}
.info-field {
    background-color:   beige;
    font-family:        monospace;
    width:              20em;
}
.info-area {
    background-color:   beige;
    font-family:        monospace;
    width:              100%;
    height:             22em;
    overflow-y:         scroll;
}

/***** Log Window **********************************************/

/*** Log-content area, as simple text: ***/

.filter {
    background-color:   beige;
}

.log_content-area-file {
    background-color:   beige;
    font-family:        monospace;
    width:              95%;
    height:             75vh;
    overflow-y:         scroll;
}

/*** Log-content area, in list format: ***/

.log_content-area-filter {
    font-family:        monospace;
    width:              95%;
}

.log_content-area-scroll {
    background-color:   beige;
    font-family:        monospace;
    width:              100%;
    height:             67vh;
    overflow-y:         scroll;
}

.log_content-list {
    background-color:   beige;
    width:              100%;
}

.log_content-list thead {
    background:         wheat;
}

/*** Log-content list, column definition ***/

.log_content-list td,th {
    padding-right:      2ex;
}
.log_content-list .clst-dd {
    width:              8ex;
}
.log_content-list .clst-hh {
    width:              10ex
}
.log_content-list .clst-hn {
    width:              20ex;
}
.log_content-list .clst-tr {
    width:              8ex;
}
.log_content-list .clst-fs {
    text-align:         right;
    width:              12ex;
}
.log_content-list .clst-tt {
    text-align:         right;
    width:              12ex;
}
.log_content-list .clst-rn {
    width:              40ex;
}
.log_content-list .clst-pu {
    width:              20ex;
}
.log_content-list .clst-aa {
    width:              2ex;
}

.log_content-list .selected {
    color:              white;
    background-color:   black;
}

/***** AFD-Ctrl window *****************************************/

/*** AFD-Ctrl window, host/alias bars ***/

table.tabcol {
    float:              left;
    font-size:          8pt;
    border-collapse:    separate;
    border-spacing:     0px;
    padding-top:        5px;
    padding-left:       5px;
}

.tabcol thead {
    background:         beige;
}

tr * {
    
}

tr.tab-row * {
    border-width:       1px;
    border-style:       solid;
    border-color:       #d0f4ff;
}

tr.tab-row-mark * {
    border-width:       1px;
    border-style:       solid;
    border-color:       black;
}

.marked {
    color:              white;
    background:         black;
}

td.alias {
    width:              12ex;
}

td.status-led {
    width:              2px;
}

.numval {
    width:              5ex;
    text-align:         right;
    background:         lightblue;
}

.numval-mark {
    width:              5ex;
    text-align:         right;
    color:              white;
    background:         black;
}

.debug {
    color:              gold;
}

.trace {
    color:              darkorange;
}

.full_trace {
    color:              red;
}

/*** Alias-field status info: ***/

.TRANSFER_ACTIVE {
    color:              white;
    background:         darkgreen;
}

.TRANSFER_NORMAL {
    background:         limegreen;
}

.TRANSFER_DISABLED {
    background:         lightblue;
}

.TRANSFER_STOP {
    background:         orange;
}

.STOP_TRANSFER {
    background:         orange;
}

.NORMAL_STATUS {
    background:         limegreen;
}

.DISABLED {
    background:         white;
}

.HOST_DISABLED {
    background:          white;
}

.HOST_NOT_IN_DIR_CONFIG {
    background:         #d0f4ff;
}

.HOST_CONFIG_HOST_DISABLED {
    background:         white;
}

.HOST_ERROR_OFFLINE {
    background:         red;
}

.HOST_ERROR_ACKNOWLEDGED {
    background:         orange;
}

.DANGER_PAUSE_QUEUE_STAT {
    background:        black;
}

.HOST_ERROR_OFFLINE_STATIC {
    background:         yellow;
}

.HOST_ACTION_SUCCESS {
    background:         blue;
}

/*** Job status: ***/

.jobs {
    font-size:          8pt;
    font-stretch:       condensed;
}

.DISCONNECT {
    color:              black;
    background:         white;
}

.CONNECTING {
    color:              black;
    background:         lightblue;
}

.LOC_active {
    color:              black;
    background:         blue;
}

.FTP_burst_active {
    color:              black;
    background:         lightgreen;
}

.FTP_active {
    color:              white;
    background:         green;
} 

/*** Queue status: ***/

.PAUSE_QUEUE {
    background:         saddlebrown;
}

.AUTO_PAUSE_QUEUE {
    background:         darkorange;
}

