<div class="info-box" id="hostInfoBox_<%= hostname %>">
	<h5 class="info-header"><%= hostname %> Info</h5>
	<table width="100%">
		<tr>
			<td class="info-column"><input type="radio" readonly<%=
				HOST_ONE %> onclick="return false;" /> <%= host1 %></td>
			<td class="info-column"><input type="text" class="info-field"
				readonly value="" /></td>
			<td width="50px" />
			<td class="info-column"><input type="radio" readonly<%=
				HOST_TWO %> onclick="return false;" /> <%= host2 %></td>
			<td class="info-column"><input type="text" class="info-field"
				readonly value="" /></td>
		</tr>
		<tr>
			<td class="info-column">Real host name 1</td>
			<td class="info-column"><input type="text" class="info-field"
				readonly value="<%= real1 %>" /></td>
			<td width="5em" />
			<td class="info-column">Real host name 2</td>
			<td class="info-column"><input type="text" class="info-field"
				readonly value="<%= real2 %>" /></td>
		</tr>
		<tr>
			<td class="info-column">Files transfered</td>
			<td class="info-column"><input type="text" class="info-field"
				readonly value="<%= filetransf %>" /></td>
			<td width="5em" />
			<td class="info-column">Bytes transfered</td>
			<td class="info-column"><input type="text" class="info-field"
				readonly value="<%= bytetransf %>" /></td>
		</tr>
		<tr>
			<td class="info-column">Last connection</td>
			<td class="info-column"><input type="text" class="info-field"
				readonly value="<%= lastcon %>" /></td>
			<td width="5em" />
			<td class="info-column">No. of connections</td>
			<td class="info-column"><input type="text" class="info-field"
				readonly value="<%= connects %>" /></td>
		</tr>
		<tr>
			<td class="info-column">Total errors</td>
			<td class="info-column"><input type="text" class="info-field"
				readonly value="<%= toterr %>" /></td>
			<td width="5em" />
			<td class="info-column">Retry interval (sec)</td>
			<td class="info-column"><input type="text" class="info-field"
				readonly value="<%= retrint %>" /></td>
		</tr>
	</table>
	<hr />
	<div style="width: 100%; text-align: center;">
		Protocols : <span class="info-field"><%= protocol %></span>
	</div>
	<hr />
	<textarea class="info-area" id="hostInfoArea_<%= hostname %>"><%= info_text %></textarea>
	<div style="width: 100%; text-align: center;">
		<button type="button" class="btn btn-success button-action"
			onClick="javascript:AFDCTRL.wsSaveHostInfoText('<%= hostname %>');">Save</button>
		<button type="button" class="btn btn-primary button-action"
			onClick="javascript:AFDCTRL.closeHostInfo('<%= hostname %>');">Close</button>
	</div>
	<hr style="border-width: 3px;" />
</div>
